.linha{
    display: flex;
    flex-direction: row;
}
img{
    width: 100%;
}

h1:hover{
    color: aquamarine;
    font-size: 35px;
}
img:hover{
    
    border: solid 1px red;
}
.tudo{
    width: 90%;
    border: solid 2px yellow ;
    margin: auto;
 
}
.card{
    border: solid 1px blue;
}
.star{
    background-color: rgb(222, 222, 222);
    border: solid 1px black;
    width: 5%;
}
.star:hover{
    
    background-color:rgb(100, 100, 100);

}
.like{
   background-color:rgb(222, 222, 222) ; 
   border: solid 1px black; 
   width: 5%;
}
.like:hover{
    background-color:rgb(100, 100, 100);
}
.deslike{
    background-color: rgb(222, 222, 222);
    border: solid 1px black; 
    width: 5%;
}
.deslike:hover{
    background-color:rgb(99, 99, 99);
}