body{
    background-color: rgb(13, 2, 65);
}

li{
    color: rgb(238, 238, 238);
    
}

a{
    color: aliceblue;
}

h1{
    width: 280px;
    background-color: black;
    color: rgb(255, 255, 255);
}

.menu{
    flex-direction: row; 
    border-radius: 7%; 
    height: 248px;
    width: 20%;
    background-color: rgba(12, 3, 137, 0.474);
}
.menu:hover{
    background-color: rgb(0, 0, 115);
}

