body{
    background-color: aqua;
}
h1{
    width: 49%;
    display: flex;
    flex-direction: column;
    color: brown;
}
h2{
    display: flex;
    flex-direction: column;
}
.conteudo1{
    width: 50%;
    display: inline-block;
   

}
.conteudo2{
    width: 49%;
    display: inline-block;
    
}
